body {
    width: 800px;
    margin: 20px auto 0;
    border: 1px solid #BBB;
}

.header,
.content,
.footer {
    padding: 10px;
}

.header,
.footer {
    text-align: center;
    background-color: #DDD;
}

.header {
    border-bottom: 1px solid #BBB;
    font-size: 24px;
    font-weight: bold;
}

.footer {
    border-top: 1px solid #BBB;
    font-style: italic;
}